In [8]:
import pandas as pd

In [9]:
def say_hello():
    print('Hello!')

In [10]:
say_hello()

Hello!

In [11]:
def say_something(something):
    print(something)

In [12]:
say_something('Hello World!')

Hello World!

In [13]:
Matt_says = "Hi, my name is Matt. I'm learning Python!"
say_something(Matt_says)

Hi, my name is Matt. I'm learning Python!

In [14]:
passing_math_count = 29370
total_student_count = 39170

In [15]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [16]:
passing_math_percent(passing_math_count,total_student_count)

74.9808526933878

In [18]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

my_grades = pd.Series(my_grades)

my_grades

0    B
1    C
2    B
3    D
dtype: object

In [19]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [21]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [23]:
my_grades.map('{:.0f}'.format)

0    92
1    85
2    87
3    78
dtype: object